{% extends 'index.html' %}

{% block 'search' %}
<form action="/app/city">
    {% csrf_token %}
    <input type="text" name="city" placeholder="City name..">
    <button type="submit" class="btn btn-info">Search</button>
</form>

<div class="row">
        <ul class="list-group col-md-4">
            {% for city in cities %}
            <li class="list-group-item"><a href="/app/weather/?woeid={{city.woeid}}"> {{city.title}}</a></li>
            {% empty %}
            <li class="list-group-item empty"><p style="color:red;"><b>City name not found. Please try again</b></p></li>
            {% endfor %}
        </ul>      
</div>
{% endblock %}